body {
  font-family: "Courier New", courier, monospace;
  color: #E27821;
  background-image: url("../img/campsite-tent-night.jpg");
  background-color: #273045;
  background-size: cover;
  background-attachment: fixed;
}

table, tr, td, th {
  border-collapse: collapse;
  border: 1px solid #1D222C;
  margin: 20px;
}

tr:nth-child(odd) {
  background-color: #213521;
}

tr:nth-child(even) {
  background-color: #674C35;
}

th {
  text-align: center;
  background-color: #273045;
}

td {
  text-align : right;
  padding: 10px;
}

h3 {
  color: #299129;
}

.logo {
  height: 240px;
}

.head {
  height: 240px;
  background-color: #273045;
  color: #E27821;
  opacity: .90;
  text-align: center;
  font-size: 200%;
  padding-top: 60px;
}

header p {
  font-size: 50%;
  color: #E27821;
}

nav {
  background-color: #674C35;
  text-align: center;
  margin-top: 20px;
  display: flex;
}

nav ul {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  margin-bottom: 10px;
  margin-top: 10px;
}

nav li {
  display: inline;
  margin-bottom: 0px;
  padding: 10px;
  flex-grow: 1;
}

nav a {
  color: inherit;
  text-decoration: inherit;
  margin-bottom: 0px;
  padding: 10px;
  flex-grow: 1;
}

.box {
  background-color: #8E5F39;
  border-radius: 5px;
  color: #213521;
  font-weight: bolder;
  box-shadow: 0 5px 0 #423429;
  transition-property: background-color, border-radius, color, box-shadow;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

.box:hover{
  background-color: #2C3C5F;
  border-radius: 15px;
  color: #1AB51A;
  box-shadow: 0 5px 0 #1D222C;

}
.box:active {
  box-shadow: 0 2px 0 #1D222C;
  transition: all .01s linear;
  transform: translateY(3px);
}

article {
  background-color: #213521;
  opacity: .90;
  margin-top: 30px;
  padding: 30px;
}

article img {
  float: right;
  width: 300px;
}

article p {
  color: #E27821;
}

article a {
  color: #1AB51A;
  text-decoration: none;
}

aside {
  background-color: #E27821;
  opacity: .90;
  text-align: center;
  margin-top: 30px;
  padding: 30px;
}

aside h3, p {
  color: #273045;
}

aside img {
  width: 300px;

}

.contact {
  background-color: #273045;
  opacity: .9;
  padding: 20px;
  margin-top: 20px;
}

.contact img {
  float: right;
  width: 300px;
}
