body {
  font-family: "Courier New", courier, monospace;
  color: #E27821;
  background-image: url("../img/campsite-tent-night.jpg");
  background-color: #273045;
  background-size: cover;
  background-attachment: fixed;
}

table, tr, td, th {
  border-collapse: collapse;
  border: 1px solid #1D222C;
  margin: 20px;
}

tr:nth-child(odd) {
  background-color: #213521;
}

tr:nth-child(even) {
  background-color: #674C35;
}

th {
  text-align: center;
  background-color: #273045;
}

td {
  text-align : right;
  padding: 10px;
}

h3 {
  color: #299129;
}

.logo {
  height: 240px;
}

.head {
  height: 240px;
  background-color: #273045;
  opacity: .90;
  text-align: center;
  font-size: 200%;
}

header p {
  font-size: 50%;
  color: #E27821;
}

nav {
  background-color: #674C35;
  text-align: center;
}

nav li{
  display: inline;
  margin: 110px;
}

article {
  background-color: #213521;
  opacity: .90;
}

article img {
  float: right;
  width: 300px;
}

article p {
  color: #8E5F39;
}

aside {
  background-color: #E27821;
  opacity: .90;
  text-align: center;
  margin-top: 20px;
}

aside h3, p {
  color: #273045;
}

aside img {
  width: 300px;
}

.camping {
  background-color: #273045;
  opacity: .9;
}
